<Project>
  <PropertyGroup>
    <!-- Configure the path to your Firestone installation -->
    <!-- Example: C:\Games\Steam\steamapps\common\Firestone -->
    <FirestoneGamePath>SEU_CAMINHO_AQUI</FirestoneGamePath>
  </PropertyGroup>
</Project>